<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <object class="GtkMenu" id="menu">
    <child>
      <object class="GtkMenuItem" id="notifications">
        <property name="label">Notifications</property>
      </object>
    </child>
    <child>
      <object class="GtkMenuItem" id="gpu">
        <property name="label">GPU Mode</property>
      </object>
    </child>
  </object>
</interface>
